  html {
    background: rgb(33, 28, 81);
    color: white;
    font: 14px sans-serif;
    
}


  h1 {
    margin-bottom: 20px;
    font: 20px/1.5 sans-serif;
  }

  td {
      vertical-align: top;
  }
  .terminal {
    float: right;
    border: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 18px;
    color: #f0f0f0;
    background-color: rgb(43, 13, 58);
  }

  .terminal-cursor {
    color: #000;
    background: #f0f0f0;
  }

  .file-box {
    margin: 4px;
    padding: 4px;
    background: rgb(43, 3, 26);
  }

  .buffer {
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    border: 1px white solid;
    border-radius: 5px;
}

.activeBuffer {
    background-color: rgb(255, 255, 255);
    color: darkblue;
}

.activeBuffer > span {
    font-weight: 'bold';
    
}
  .scratchpad {
      margin: 20px;
    /* display:inline-block; */
    /* float: right; */
    /* vertical-align:top;  */
    /* width:450px; */
  }
